<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to scan grocery items for adding to your inventory.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to your photo library to let you upload food images for your recipes.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to show nearby grocery stores.</string>
</dict>
</plist>
