<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAI_API</key>
	<string>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</string>
</dict>
</plist>
